<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CommentsServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:8001/comments" binding="basicHttpBinding"
                bindingConfiguration="CommentsServicePortBinding" contract="CommentsService.ICommentsService"
                name="CommentsServicePort" />
        </client>
    </system.serviceModel>
</configuration>